

/*
Author: XpeedStudio
Author URI: http://themeforest.net/user/XpeedStudio/portfolio
*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.login {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../images/bg11.jpg");
  background-size: cover;
}

.login_content {
	padding: 10px;
}
.intro_text {
	text-align: center;
}
.intro_text h1 {
    font: 400 55px 'Varela Round', sans-serif;
	margin: 0px;
	color: #c22021;
}
.intro_text h2 {
	font: 400 22px 'Montserrat', sans-serif;
	margin: 10px 0px 20px;
	color: #828282;
}
.login_form {
	top: auto;
	box-shadow: 2px 5px 30px rgba(165, 107, 107, 0.2);
}
.form-control {
    border-radius: 7px;
    width: 100%;
    margin: 3px 0px;
}
.login_logo {
	width: 60%;
	padding: 10px;
}
.login_content div .reset_pass {
    margin-top: 13px!important;
     margin-right: 0; 
     float: none; 
}
.mt-5 {
	margin-top: 20px;
}
.btn, .buttons, .modal-footer .btn+.btn, button {
     margin-bottom: auto; 
     margin-right: auto; 
}
#btnLogin {
	width: 100%;
}
.login_wrapper .separator {
    border-top: 1px solid #D8D8D8;
    margin-top: 1.5em;
    margin-bottom: 4em;
    padding-top: 4em;
}
@media (max-width: 475px) {
	.login {
	  position: relative;
	  width: 100%;
	  height: auto;
	  background: url("../images/bg-photo.jpg");
	  background-size: inherit;
	}	
}